<blockquote class="quote">

    <p class="text__quote">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet molestiae rerum explicabo a unde consequatur aut harum, soluta eius impedit!</p>
    <footer>
      <div class="media">
        <div class="media__image quote__image">
          <svg class="icon icon--primary" >
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
     
        </div>
        
        <div class="media__body">
          <h3 class="media__title quote__author">Jhone Lumeo</h3>
          <p class="quote__company">
            Mosh company CEO
          </p>
        </div>
      </div>
       
    
      </div>
    </footer>


  </blockquote>